@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  --primary-color: #F6D8AE;
  --secondary-color: #2E4057;
  --dark-grey: #131313;
  --light-grey: #212121;
  --very-light-grey: #A0A0A0;
  --green: #00bf63;
  --red: #ff3131;
}

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    text-align: justify;
    background-color: black;
    color: white; 
    box-sizing: border-box;


  /* Navbar */

  .logo {
    display: block;
    -webkit-height: 40px;
    -webkit-width: 40px;
    height: 40px;
    width: 40px;
  }
  
  .custom-navbar {
      padding-top: 20px; /* Platz oben */
      padding-bottom: 20px; /* Platz unten */
      color: white;
      background-color: black; /* Hintergrundfarbe der Navbar */
  }
  
  .custom-navbar .navbar-nav {
      margin-right: auto; /* Standardmäßig rechtsbündig auf größeren Bildschirmen */
  }
  
  .custom-navbar .navbar-brand {
      margin-right: 3%; /* Abstand zwischen Logo und Navigation */
      margin-left: 1.2%;
  }
  
  .aktiv {
      color: var(--primary-color); /* Farbe für den aktiven Link */
  }
  
  @media (min-width: 992px) {
      /* Nur auf größeren Bildschirmen */
      .custom-navbar .navbar-nav {
          flex-direction: row; /* Navigationselemente nebeneinander anordnen */
          justify-content: flex-start; /* Links bleiben linksbündig */
      }
  }
  
  @media (max-width: 991.98px) {
      /* Nur im Collapse-Zustand (kleinere Bildschirme) */
      .custom-navbar .navbar-nav {
          display: flex;
          flex-direction: column; /* Links untereinander */
          align-items: center; /* Zentriere die Links */
          width: 100%; /* Nimm die volle Breite ein */
      }
  
      .custom-navbar .navbar-collapse {
          justify-content: center; /* Zentriere die Navbar-Links im Collapse-Zustand */
      }
  }
  
  .abstand {
      margin-right: 1.2%; /* Abstand für die Buttons */
  }

  .wb_menu2 {
    display: none;
  }
  
  @media (max-width: 768px) {
      /* Buttons im Collapse-Zustand zentrieren */
      .abstand {
          margin-top: 20px; /* Abstand oben für die Buttons */
          text-align: center; /* Zentriere die Buttons */
          align-items: center;
      }
      .abstand .fbutton, .abstand .dbutton {
        width: 25%;
        margin-right: 0px;
        margin-left: 5px;
      }

      .button12 {
        margin-top: 10px;
      }
      .wb_menu {
        display: none;
      }
      .wb_menu2 {
        display: block;
      }
  }
  

/* Hero */

#hero {
  height: 100vh;
  width: 100%;
  background: black;
  color: whitesmoke;
}
.container_hero {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  /*   text-align: center; */
}

.progress_hero {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /*   text-align: center; */
}

/* Buttons */

.button_custom2 {
  background: var(--primary-color);
  color: white;  
}
.button_custom3 {
  background: white;
  color: var(--primary-color);  
}
.button_custom4 {
  background: #212121;
  color: white;  
}
.button_custom7 {
  margin-top: 12.5px;
  background: var(--primary-color) ;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}
.button_custom9 {
  color: white;
  margin-right: 25px;
}

/* General */

.section {
    padding-top: 25px;
    padding-bottom: 25px;
}
.standard_container {
  margin-top: 25px;
}
.badge {
  color: white;
}

/* Accordion */
.accordion {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.accordion-item {
  background-color: black;
  color: white;
}
.accordion-header {
  background-color: black;
  color: white;
}

/* Cards  */

.standard_card {
   background-color: #131313;
   color: #707070;
   height: 200px;
   min-width: 200px;
   width:fit-content;
   margin-left: 15px;
   margin-bottom: 15px;
   padding: 25px;
   text-align: center;
}

.card_val {
  height: 200px;
  max-width: 200px;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 25px;
  text-align: center;
  background-color: var(--primary-color);
  color: #212121;
}

.button_card {
  background-color: #212121;
  color: #707070;
  border: none;
  margin-top: 10px;
}

.square-button {
  width: 100px;
  height: 100px;
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.plus-button {
  background-color: transparent;
  color: var(--primary-color);
  margin-left: 5px;
  border: none;
}

.stock_card {
  height: 35px;
  width: fit-content;
  background-color: var(--secondary-color);
  color: white;
  padding-top: 4px;
  padding-left: 10px;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 10px;
}

/* Footer */

.no_bullets {
    list-style-type: none;
  }
  
  .footer{
      background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(29,29,29,1) 44%);
    padding: 75px 0;
  }
  .footer .row:last-child {
    color: var(--very-light-grey);
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    text-align: left;
    padding-left: 30px;
      font-size: 18px;
      color: #ffffff;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  .footer-col h4::before{
    margin-left: 30px;
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: var(--primary-color);
      height: 2px;
      box-sizing: border-box;
      width: 75px;
  }
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer-col ul li a{
      font-size: 16px;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #bbbbbb;
      display: block;
      transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
  }
  .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
      color: #24262b;
      background-color: #ffffff;
  }
  
  .abstand_social {
    padding-left: 30px;
  }
  
  /*responsive*/
  
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  
  #prog {
    align-items: center;
    text-align: center;
    width: 400px;
    border: 1px solid #eee;
    height: 20px;
    }
  #bar {
    width: 0px;
    background-color: #ccc;
    height: 20px;
    }
  #pct {
    margin-top: 25px;
    text-align: center;
  }

  .modal-content {
    background-color: #131313;
    color: white;
  }

  .hidden {
    display: none;
  }

}